<%- include('./partials/header.ejs') %>

<div class="createHisaab w-full h-[70%] flex items-center justify-center">

    <div class=" w-1/2 h-full rounded-md border-2 border-blue-950  p-5">
        <h1 class="text-xl mb-4">Create New Hisaab</h1>
        <form action="/hisaab/edit/<%= hisaab._id %>" class="flex flex-col gap-2 " method="post">
            <input class="block px-3 py-2 bg-zinc-800 rounded" type="text" value="<%=hisaab.title%>" placeholder="Hisaab...." name="title" >
            <textarea class="block px-4 py-3 h-[10vw] bg-zinc-800 rounded resize-none" name="description" placeholder="Daal, Aata, Cheeni"><%=hisaab.description%></textarea>
            <div class="flex gap-2">
            <input
           <% if(hisaab.encrypted){%>
                checked
          <%  }%>
             type="checkbox" name="encrypted"  >Encrypt this file
            </div>
            <input class="block px-3 py-2 bg-zinc-800 rounded" value="<%= hisaab.passcode %>" type="password" name="passcode" placeholder="passcode">
            <div class="flex gap-2">
                <input
                 <% if(hisaab.encrypted){%>
                    checked
              <%  }%>
               type="checkbox" name="shareable">Shareable file?

            </div>
            <div class="flex gap-2">
            <input <% if(hisaab.encrypted){%>
                checked
          <%  }%> type="checkbox" name="editpermissions" >Edit permissions

            </div>

            <input class="bg-blue-600 px-3 py-2 rounded mt-4" type="submit" value="Edit Hisaab">
    
        </form>


    </div>

</div>

<%- include('./partials/footer.ejs') %>
